<tr>
  <td class="track">
    <span class="track_number"><%= track.track_number %></span>
  </td>
	<td class="track">
    <span class="title"><%= track.title %></span>
  </td>
	<td class="track">
    <span class="bpm"><%= track.bpm %></span>
  </td>
</tr>